html, body {
  height: 100%; /* Make sure html and body take up the full height */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent scrollbars on the main page */
}

body {
  width: 200px;
  padding: 10px;
  font-family: sans-serif;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: fixed; /* Fix the sidebar to the side of the page */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  height: 100%; /* Make the sidebar take up the full height */
  box-sizing: border-box; /* Include padding in the height calculation */
}

#imageContainer {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
}

#currentImage {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#navigation {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #367538;
}
#pageText {
  font-size: 1.5em; /* Adjust the size as needed */
  /* You can add other styles here as well, like: */
  /* font-weight: bold; */
  color: #333; 
}